@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Launch course  <a href="https://localhost:7281/scorm/launchTest">SHP SCORM 1.2</a>.</p>
</div>
