@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Launch course  <a href="https://localhost:7281/scorm/launch/831663EE-325E-47E2-B7F9-4B23A8696798">SHP SCORM 1.2</a>.</p>
</div>
